@import url(./color.css);

html, body, * {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	min-height: 100svh;
	font-family: Arial, sans-serif;
	font-size: 16px;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--primary-color);
}

.login-box{
	max-width: 420px;
	padding: 40px 45px;
	background: #fff;
	text-align: center;

	border-radius: 0.8em;
	/* border: 1px solid var(--secondary-color); */
	box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
}

.login-box .title{
	font-size: 2em;
	font-weight: 600;
	margin-bottom: 8px;
}

.login-box .form-group{
	margin-bottom: 12px;
}

.login-box button,
.login-box input{
	font-size: 1em;
}

.login-box button{
	margin-top: 8px;
	min-width: 120px;
	font-weight: 600;
	border: 0;
	background-color: var(--primary-color);
	color: #fff;
	padding: 5px 15px 5px;
	border-radius: 0.25em;
}
.login-box button:hover{
	background-color: var(--secondary-color);
}

