@import url(color.css);

/* Navbar */
.navbar {
  position: sticky;
  top: 0;
  z-index: 1030;
  background-color: var(--primary-color);
  padding: 0.5rem 1rem;
}
.navbar .user-icon {
  width: 32px;
  height: 32px;
  object-fit: contain;
}
.navbar .offcanvas-toggler {
  border: none;
  background: transparent;
  color: var(--text-light);
}
.navbar .offcanvas-toggler .navbar-toggler-icon {
  filter: invert(1);
}
.navbar .navbar-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: var(--text-light);
  font-weight: 600;
  white-space: nowrap;
}
.navbar .logout {
  color: var(--text-light);
  text-decoration: none;
  font-size: .95rem;
}

@media (max-width:800px) {
 .navbar-center { display: none;
}
}