.button{
    margin: 5px ;
    color:black !important;
    border:none;
}

#btModifica{
   background-color:orange;

}

#btElimina{
   background-color:red;
}


#modal{
     
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

.form-label{
    font-weight: bold;
    margin-right: 10px;
   background-color: var(--color-secondary);   
}

@media (max-width: 768px) {
    .img-thumbnail{
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    }

    .img_prodotti{

        width:100px;
        height: 100px;
        margin:auto;

    }
}

